/*CSS */

/*BODDY*/
body, html{
    max-width: 100%;
    overflow-x: hidden;
}
/*HEADER*/
header{
    display:block;

}
/*LOGO*/
.cap{
    width: 100%;
    text-align: left;
}
a{
    color: #4A5B6A;
    font-family: Verdana;
    font-weight: bold;
    text-decoration: none;
}
.divlogofurri{
    display:flex;
    justify-content:center;
}
.logofurri{
    max-width: 100%;
    height: auto
}

.logo img {
    max-width: 100%;
    width: 300px;
    height: auto;
    cursor: pointer;
}

/*NAV*/
nav {
    padding: 20px;
    text-align: center;
}
nav ul {
    display:block;
    text-align: center;
}

nav ul li {
    display: block;
    padding: 10px 15px;
    background-color: #F5F7FA;
    font-size: 20px;
    margin: 40px;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid black;
}

nav ul li:hover {
    background-color: darkseagreen;
    color:white;
}


/*Buscador:*/
.nav_producte{
    display:block;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    width: 100%;
}

input[type=text]{
    width: 80%;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input_observacions{
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    resize: none;
}


/*ELS PRODUCTES*/
.titol_productes{
    color: #4A5B6A;
    font-family: Verdana;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.imatge{
    width:100%;
    margin-bottom: 0px;
    margin-top: 25px;
}

.nom_productes{
    color: #4A5B6A;
    font-family: Arial, sans-serif;
    text-align: center;
    border-bottom: 30px;
}


/* FORMULARI */
.label{
    font-size: 20px;
    border: 3px solid #555;
    font-size: 8px;

}
form input{
    padding: 10px;
    font-size: 30px;
}


form{
    color: #4A5B6A;
    font-family: Verdana;
    font-weight: bold;
    background-color: lightgrey;
    width: 100%;
}

.titol_form{
    color: #4A5B6A;
    font-family: Verdana;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

/*OFERTA*/
.oferta{
    text-align: center;
    font-family: Arial, sans-serif;
    padding-top: 50px;
}
/*títol-oferta-animat*/
@keyframes canviColor {
    0% {
        color: #ff5733;
    }
    33% {
        color: #33ff57;
    }
    66% {
        color: #3357ff;
    }
    100% {
        color: #ff5733;
    }
}

.titol_animat {
    font-size: 2em;
    animation: canviColor 3s infinite;
    text-align: center;
    margin: 10px 0;
}
button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.preu {
    font-family: sans-serif;
    font-size: 30px;
    color: black;
    border: 50px;

}
.producteolla{
    font-size:30px;
    color: #555555;
    font-weight: bold;
    border: 50px;
    margin-top: 5px;
}




/*TAULA*/
.titol_taula{
    color: #4A5B6A;
    font-family: Verdana;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}
table{
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-family: Arial;
    color: #333333;
    background: rgba(169, 139, 139, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.9px);
    -webkit-backdrop-filter: blur(13.9px);
    border: 1px solid rgba(169, 139, 139, 0.3);
}
/*aside*/
.optimuslogo{
    text-align: center;
    display: block;
    padding: 20px;
}
/* Footer */

footer{
    color: #4A5B6A;
    background-color: lightgrey;
    text-align: center;
}



@media (min-width: 600px) {
    .imatge {
        width: 200px;
        display: block;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    .cap{
        width: 100%;
        padding: 10px 50px;
        display: block;

    }
    nav {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    nav ul {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    .formulari form {
        max-width: 600px;
        margin: 0 auto;
    }
    .divlogofurri {
        float: left;
        width: 30%;
    }

}














