/*CSS

 */

li {
    display: inline;
    padding: 0px;
    background-color: #F5F7FA;

    font-size: 20px;
    margin: 40px;
    border: 20px;
}

a{
    color: #4A5B6A;
    font-family: Verdana;
    font-weight: bold;
    text-decoration: none;
}

li:hover {
    background-color: #B0B8C1;
    font-size: 18px

}
body{
    background-color: #F8F6F4;
}
form label{
    font-size: 45px;

}
form input{
    padding: 10px;
}

footer{
    color: #4A5B6A;
    background-color: lightgrey;
}

form{
    color: #4A5B6A;
    font-family: Verdana;
    font-weight: bold;
}
h1{
    color: #4A5B6A;
    font-family: Verdana;
    font-weight: bold;
    font-size: 50px;

    /* Input formulari */
}
input{
    font-size: 30px;
}




