

li {
    display: inline;
    padding: 0px;
    background-color: #C4DFDF;

    font-size: 20px;
    margin: 40px;
    border: 20px;
}

a{
    color: black;
    font-family: Verdana;
    font-weight: bold;
    text-decoration: none;
}

li:hover {
    background-color: white;
    font-size: 18px

}
body{
    background-color: #F8F6F4;
}
form label{
    font-size: 45px;

}
form input{
    padding: 10px;
}

footer{
    color: aqua;
    background-color: lightgrey;
}




